<style>
  li{
    background-color: white;
    width:300px;
    margin-left: 550px;
    margin-top: 20px;
  }
</style>
<body>
<p>
  正在进行
</p>
<ul>
  <li *ngFor="let item of dataList;let num = index;">
    <input type="checkbox"  (change)="changeData(num)"/>
    {{item}}
    <button (click)="delete(num)">删除</button>
  </li>
</ul>
<p>
  已经完成
</p>
<ul>
  <li *ngFor="let item of comlist;let num = index;">
    <input type="checkbox" checked="checked" (change)="changeData2(num)"/>
    {{item}}
    <button (click)="delete2(num)">删除</button>
  </li>
</ul>
</body>
