page-re-info {
    .toolbar-background{
        border-width: 0 0 0.55px;
        background: #fedb47;
    }

    #title{
        width: 80%;
        margin-left: 22%;
    }

    ion-item{
        font-family: '黑体';
        font-size: 20px!important;
    }

    .col {
        margin: 15px 0px;
        font-size: 18px;
        font-family: '黑体';
    }

}