page-check {
    .toolbar-background {
        background: #fedb47;
    }

    .item{
        height: 100px;
    }

    .button-clear {
        border-color: transparent;
        color: #fedb47;
        background-color: transparent;
    }
}
